body{
  margin:0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  text-align: center;
  height: 100vh;
  background: #000;
  align-items: center;
}

.header {
  padding: 20px;
  color: white;
}

img{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100vw;
}

.dice-parent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  margin-top: 15px;
  justify-items: center;
  background: #000;
}

.reset-button{
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: 30%;
  color: #f07;
  background: #000;
  letter-spacing: 7px;
  font-family: 'Road Rage', sans-serif;
  text-shadow: 2px 2px 5px #fff;
  text-transform: uppercase;
  font-size: 35px;
  justify-self: center;
  align-self: start;
  border: none;
}

svg{
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.clicked{
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation: Dice-spin 2s;
}

#rollValue{
  color: white;
  font-size: 35px;
  position: absolute;
  left: 49%;
}

@keyframes Dice-spin {
  0% { transform: rotate(0deg); }
  25% { transform: scale(1.2) translateY(-25px); }
  50% { transform: rotate(1080deg); }
}

@keyframes Dice-spin-responsive {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1080deg); }
}


@media screen and (max-width: 992px){
  .dice-parent{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    align-items: center;
    height: 100vh;
  }
  svg{
    height: 100px;
    width: 100px;
  }
  .header {
    grid-column: 2;
  }
  .clicked{
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    animation: Dice-spin-responsive 2s;
  }
  .bg-img{
    display: none;
  }
  .app-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-auto-flow: column dense;
  }
}

@media screen and (max-width: 786px){
  svg{
    height: 75px;
    width: 75px;
  }
  .bg-img{
    display: none;
  }
  .dice-value{
    font-size: 2.5em;
  }
}